.hero-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.hero-column {
  flex: 1;
  min-width: 18.75rem;
}

.hero-text-column {
  text-align: left;
}

.hero-text {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
}

.hero-description {
  color: #aaa;
  font-size: 20px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  border-radius: 0.5rem;
}

.hero-image-container img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.hero-location {
  margin-top: 3rem;
}

.hero-social-midia {
  margin-top: 3.125rem;
}

/* Responsividade */
@media screen and (max-width: 48rem) {
  .container {
    padding: 1rem 2rem;
  }

  .hero-row {
    flex-direction: column;
  }

  .hero-image-container {
    order: -1;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .hero-text-column {
    order: 1;
    width: 100%;
    text-align: justify;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .hero-text img {
    width: 40px !important;
  }

  .hero-location,
  .hero-social-midia {
    margin-top: 2rem;
  }
}
