.project-container {
  display: flex;
  flex-direction: column;
  background-color: #030712; /* Cor de fundo */
  gap: 1rem;
  padding: 1rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.project-card {
  background-color: #1e293b; /* Fundo do card */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para os elementos dentro do card */
.project-photo {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0; /* Bordas arredondadas no topo */
}

.project-info {
  padding: 15px;
}

.project-name {
  font-size: 20px;
  margin: 10px 0;
}

.project-description {
  font-size: 16px;
  margin-bottom: 15px;
  color: #fff;
}

.project-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  font-size: 14px;
  margin-bottom: 10px;
}

.project-link {
  text-decoration: none !important;
  color: #030712;
}
.project-link:hover {
  text-decoration: none !important;
  color: #fff;
}
/* Responsividade */

/* Dispositivos muito grandes (acima de 1440px) */
@media screen and (min-width: 1440px) {
  .project-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Dispositivos grandes (entre 1024px e 1440px) */
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablets (entre 768px e 1024px) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

/* Celulares grandes (entre 576px e 768px) */
@media screen and (max-width: 768px) and (min-width: 576px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

/* Celulares pequenos (abaixo de 576px) */
@media screen and (max-width: 576px) {
  .project-list {
    grid-template-columns: 1fr; /* Apenas uma coluna */
    gap: 10px;
  }
  .project-card {
    max-width: 95%; /* Card mais compacto */
    margin: 0 auto; /* Centraliza o card */
    padding: 10px; /* Reduz espaço interno */
  }
  .project-photo {
    height: auto;
    border-radius: 8px;
  }
  .project-info {
    padding: 10px; /* Menor padding */
  }
  .project-name {
    font-size: 16px; /* Fonte menor */
  }
  .project-description {
    font-size: 14px; /* Fonte menor */
    line-height: 1.5;
  }
  .skills {
    font-size: 12px; /* Fonte menor */
  }
  .project-link {
    font-size: 12px;
    padding: 6px 10px; /* Botão mais compacto */
  }
}
