/* Estilização para o cabeçalho */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #030712;
}

nav {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  position: relative; /* Necessário para o efeito */
  transition: color 0.3s ease; /* Transição para mudar a cor */
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Espaçamento entre o texto e a linha */
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease; /* Transição para a largura da linha */
}

nav a:hover {
  color: #d1d5db; /* Cor do texto ao passar o mouse */
}

nav a:hover::after {
  width: 100%; /* A linha ocupa 100% da largura ao passar o mouse */
}

.mobile-menu {
  display: none; /* Oculto por padrão */
}

@media (max-width: 768px) {
  .mobile-menu {
    display: flex; /* Exibe o botão de menu móvel */
    justify-content: flex-end;
    align-items: center;
  }

  nav.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    background-color: #1d1d1d;
    display: none;
    flex-direction: column;
    height: 100%;
    padding: 2rem 1rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #1f2937;
    padding: 1rem; /* Ajuste de espaçamento */
  }

  .mobile-menu img {
    max-height: 2.5rem;
    margin-left: 1rem;
  }

  .close-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1.5625rem;
    padding: 0.75rem;
    margin-right: 1rem;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    padding: 0;
    border-top: 1px solid #1f2937; /* Borda superior */
    border-bottom: 1px solid #1f2937; /* Borda inferior */
  }

  nav ul li {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
  }

  nav a {
    color: #d1d5db;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration: none;
  }

  nav button {
    align-self: center; /* Centraliza o botão */
    margin-top: 1rem;
    margin-left: 1rem; /* Distância das bordas laterais */
    margin-right: 1rem; /* Distância das bordas laterais */
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none; /* Oculta o menu móvel em telas maiores */
  }

  nav {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    height: auto;
    padding: 0;
    width: auto;
  }

  nav ul {
    flex-direction: row; /* Alinha os itens horizontalmente */
    display: flex; /* Garante que os itens da lista sejam visíveis */
    width: auto;
    border: none; /* Remove as bordas para telas maiores */
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin-right: 2rem; /* Espaçamento entre itens */
    text-align: center; /* Centraliza o conteúdo do item */
  }

  nav a {
    color: #fff;
    font-size: 1rem;
    margin: 0;
  }

  /* Remove apenas os componentes específicos do mobile */
  nav.open,
  .mobile-container {
    display: none;
  }
}
