.contact-container {
  display: flex;
  flex-direction: column; /* Define o layout como uma coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  padding: 2rem; /* Ajuste de espaçamento interno */
  background-color: #030712; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-align: center; /* Alinha texto ao centro */
}

.contact-label {
  margin-bottom: 3.125rem; /* Espaçamento inferior */
  text-align: center; /* Alinha o texto ao centro */
}

.contact-description {
  max-width: 600px; /* Define um limite de largura para quebrar o texto */
  margin-bottom: 2rem; /* Espaçamento inferior */
  line-height: 1.6; /* Melhora o espaçamento entre linhas */
  text-align: center; /* Justifica o texto */
}

.contact-infos {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens */
  gap: 1rem; /* Espaçamento entre elementos */
}

.contact {
  display: flex;
  align-items: center; /* Alinha o conteúdo verticalmente */
  gap: 0.5rem; /* Espaçamento entre os ícones e o texto */
}

.contact-minimal-infos {
  margin-top: 2rem; /* Espaçamento superior */
}

.contact-minsocial {
  display: flex;
  justify-content: center; /* Centraliza os ícones sociais */
  gap: 1rem; /* Espaçamento entre os ícones */
}
