.contact-container {
  display: flex;
  flex-direction: column; /* Define o layout como uma coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  padding: 2rem; /* Ajuste de espaçamento interno */
  background-color: #030712; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-align: center; /* Alinha texto ao centro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}

.contact-label {
  margin-bottom: 3.125rem; /* Espaçamento inferior */
  text-align: center; /* Alinha o texto ao centro */
}

.contact-description {
  max-width: 600px; /* Define um limite de largura para quebrar o texto */
  margin-bottom: 2rem; /* Espaçamento inferior */
  line-height: 1.6; /* Melhora o espaçamento entre linhas */
  text-align: center; /* Justifica o texto */
}

.contact-infos {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens */
  gap: 1rem; /* Espaçamento entre elementos */
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-wrapper {
  position: relative; /* Necessário para posicionar o tooltip */
  cursor: pointer; /* Aponta que é clicável */
}

.tooltip {
  position: absolute;
  top: 50%; /* Alinha verticalmente no meio do ícone */
  left: 110%; /* Posiciona à direita do ícone */
  transform: translateY(-50%); /* Centraliza verticalmente */
  background-color: #333; /* Fundo do tooltip */
  color: #fff; /* Cor do texto */
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0; /* Tooltip invisível por padrão */
  visibility: hidden; /* Evita que interfira no layout quando oculto */
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 10; /* Garantir que apareça acima dos outros elementos */
}

.icon-wrapper:hover .tooltip {
  opacity: 1; /* Torna o tooltip visível */
  visibility: visible;
}

.icon-wrapper img {
  width: 24px; /* Ajusta o tamanho do ícone */
  height: 24px;
}

.contact-infos img {
  width: 24px; /* Ajusta o tamanho dos ícones */
  height: 24px;
}

.contact-infos p {
  font-size: 1rem; /* Ajusta o tamanho do texto */
  font-weight: 400; /* Define o peso da fonte */
}

.contact-minimal-infos {
  margin-top: 2rem; /* Espaçamento superior */
}

.contact-minsocial {
  display: flex;
  justify-content: center; /* Centraliza os ícones sociais */
  gap: 1rem; /* Espaçamento entre os ícones */
}

.contact-minsocial img {
  width: 32px; /* Ajusta o tamanho dos ícones sociais */
  height: 32px;
  transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.contact-minsocial img:hover {
  transform: scale(1.1); /* Aumenta levemente o ícone ao passar o mouse */
}
