* {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui padding no tamanho total */
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem; /* Espaçamento interno */
  background-color: #030712; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  overflow-x: hidden;
}

.legend {
  text-align: center;
  font-size: 18px;
  line-height: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

.label {
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-bottom: 2rem; /* Espaçamento inferior (50px convertido para rem) */
  text-align: center; /* Alinha o texto ao centro */
  display: block; /* Garante que o elemento seja tratado como um bloco */
  color: #fff;
}

h1 {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 600;
}
